INPUT = makefile src/ bin/sradio etc/doxygen.config
OUTPUT_DIRECTORY = doc/

GENERATE_HTML = YES
GENERATE_RTF = YES
GENERATE_LATEX = YES
GENERATE_MAN = YES
GENERATE_XML = YES
GENERATE_DOCBOOK = YES

USE_PDF_LATEX = YES
USE_PDF_HYPERLINKS = YES

RECURSIVE = YES
SOURCE_BROWSER = YES
SOURCE_TOOLTIPS = YES
EXTRACT_ALL = YES
USE_MDFILE_AS_MAINPAGE = README.md
DISABLE_INDEX = NO
GENERATE_TREEVIEW = YES
SEARCHENGINE = YES
SERVER_BASED_SEARCH = NO

HAVE_DOT = YES
CALL_GRAPH = YES
CALLER_GRAPH = YES
